body{
   margin: 0;
   padding: 0;
   box-sizing: border-box;

}

.box{
    display: flex;
   justify-content: center;
   margin: 33px;

}
.mynav{
    margin-left: 50px;

}
.mynav ul{
   display: flex;
   justify-content: space-between;
   margin-left: 50px;

}

.mynav ul li{
    margin-left: 20px;
    text-align: left;
font-family: normal normal 600 19px/26px Segoe UI;
letter-spacing: 0px;
color: #000000;
opacity: 1;
}

.content{
    display: flex;
    justify-content: space-between;

}
.left_content{
    margin: 8rem;
    // margin: 2rem 8rem;


}

.left_content h1{
    text-align: left;
font-family: normal normal 900 40px/54px Nunito Sans;
letter-spacing: 0px;
color: #000000;
opacity: 1;
}

.left_content p{
    text-align: left;
font-family: normal normal normal 18px/24px Nunito Sans;
letter-spacing: 0px;
color: #000000;
opacity: 1;
margin-top: 1.5rem;
}

.allbtn{
    margin-top: 2rem;
    
}
.btn_bg{
    background: #1492E6 0% 0% no-repeat padding-box;
box-shadow: 0px 16px 48px #00000029;
border-radius: 33px;
opacity: 1;
color: white;
padding: 10px 30px;
}


.right_content{
    opacity: 1;
}

.section_content{
    background: #F8FAFC 0% 0% no-repeat padding-box;
opacity: 1;


}

 h2{
    text-align: center;
    padding: 20px;
font-family: normal normal bold 35px/47px Nunito Sans;
letter-spacing: 0px;
color: #000000;
opacity: 1;
}





.box_content{
    display: flex;
    justify-content: space-between;
    // margin: 20px 20px 30px 30px;
    margin: 50px 90px 90px 90px;
   
    
   
}

.box_content h5{
  
   padding: 10px;
  text-align: center;
}
.box_content .last_box_content p{
    text-align: start;
    margin-left: 20px;
}
.box1{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 18px;
    opacity: 1;
    margin: 0px 20px;
    width: 80%;
    padding: 30px 0;

}
.box2{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 18px;
    opacity: 1;
    margin: 0px 20px;
    width: 80%;
    padding: 30px 0;

}
.box3{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 18px;
    opacity: 1;
    margin: 0px 20px;
    width:80%;
    
    padding: 30px 0;
   

}

.artwork_container{
    display: flex;
    justify-content: space-evenly;
    opacity: 1;
    margin: 2rem 8rem;
    width:80%;
    
    padding: 30px 0;
}

.art_details{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 18px;
    opacity: 1;
    margin: 0px 10px;
    width:80%;
    padding-top: 2rem;
    
    
}
.section_content1{
    
    margin-left: 8rem;

}
.subcontent1{
    display: flex;
    justify-content: start;

}
.subcontent1 h4{
    margin-left: 2rem;
    margin-top: 1rem;
}



.subcontent p{
 margin-top: 1rem;
 
}

.section_content2{
    margin-left: 45rem;
    
}
.last_section{
    background: #F8FAFC 0% 0% no-repeat padding-box;
box-shadow: 0px 16px 48px #00000029;
border-radius: 42px;
opacity: 1;
margin:0 8rem  0 8rem;
height: 24rem;

}

.last_section_content1{
    display: flex;
    justify-content: start;
    padding: 3rem;
}

.last_section_content1 h5{
    margin-left: 1rem;
}

.last_box_content{
    display: flex;
    justify-content: space-between;
    margin: 0px 30px 30px 70px;
   
    
   
}
.last_box_content p{
    text-align: start;
    margin-left: 20px;
}

.box4{
    background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 16px 48px #00000029;
border-radius: 30px;
opacity: 1;
margin: 0px 20px;
width:80%;

padding: 30px 0;


}

.last_box_content-heading{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1rem;
}

.logo_container{
    display: flex;
    justify-content: space-evenly;
    margin: 8rem;
}
.logos{
    margin-left: 10rem;
}
.logos img{
    margin-bottom: 1rem;
    background: transparent url('img/d255eaed-electroneek-logobig_104x02s000000000000028.png') 0% 0% no-repeat padding-box;
opacity: 1;
}

footer{
    background: #000000 0% 0% no-repeat padding-box;
border: 1px solid #707070;
opacity: 1;
height: 20rem;
}
footer p{
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    margin-top: 15rem;
}